
	img{border:none;}
			
    /* image replacement */
        .graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
            margin:0;
            padding:0;
            display:block;
            overflow:hidden;
            text-indent:-8000px;
            }
    /* // image replacement */


/* Easy Slider */

	#slider ul, #slider li {
		
		list-style:none;
	}

	#slider ul, #slider li{
		margin:0;
		padding:0;
		list-style:none;
		}
	.slider-large ul, .slider-large li {
		margin:0;
		padding:0;
		list-style:none;
		}
	.slider-large li { 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:710px;
		height:260px;
		overflow:hidden;
		}			
				
	.slider-small ul, .slider-small li {
		margin:0;
		padding:0;
		list-style:none;
		}
	.slider-small li { 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:360px;
		height:150px;
		overflow:hidden;
		}					
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:350px;
		height:175px;
		overflow:hidden; 
		}	